@charset "UTF-8";

body{
    background-color: #f2e4f9;
    
}
h1#principal{
    text-align: left;
    color: #ed6464; 
}
h1{
    text-align: center;
    color: #ed6464;
}
h2{
    text-indent: 30px;
    color: #686466;
}
p{
    text-align: justify;
    text-indent: 30px;    
}

.basico{
    color: #87586c;
}
.intermediario{
    color: #87586c;
}
.avancado{
    color: #bf6370;
}

.destaque{
    background-color: #686466;
    color: #fff;
}

